.built-buildings {
    display: flex;
    gap: 1rem;
    font-size: 1.75rem;
    cursor: default;
    filter: grayscale(50%);
    padding-top: .75rem;

    .building {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: .25rem .4rem .15rem;
        border: solid 2px #222;


        &::before{
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%) translateY(0px);
            bottom: 100%;               /* sits on top of the square */
            width: 0;
            height: 0;
            border-left: 1.75rem solid transparent;
            border-right: 1.75rem solid transparent;
            border-bottom: .75rem solid #222; 
}
    }
}