.events {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.event {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-bottom: 1px solid #ccc;

  h3 {
    font-weight: bolder;
  }

  p {
    line-height: 1.1;
  }
}
